{
  "presets": [
    ["@babel/preset-env", { "modules": false, "useBuiltIns": "usage" }],
    ["@babel/preset-react", { "modules": false }]
  ],
  "plugins": [
    "babel-plugin-lodash",
    "@babel/plugin-syntax-dynamic-import",
    "@babel/plugin-proposal-object-rest-spread",
    "@babel/plugin-proposal-optional-chaining",
    [
      "babel-plugin-transform-imports",
      {
        "@material-ui/core": {
          // Use "transform: '@material-ui/core/${member}'," if your bundler does not support ES modules
          "transform": "@material-ui/core/${member}"
        },
        "@material-ui/icons": {
          // Use "transform: '@material-ui/icons/${member}'," if your bundler does not support ES modules
          "transform": "@material-ui/icons/esm/${member}",
          "preventFullImport": true
        }
      }
    ]
  ]
}
